/*
 Margo Nauman
 April 11, 2018
 CSS for Meta Assignment
*/


/* The universal selector */

* {

}

/* h1 attributes */

h1 {
	text-decoration: underline;
	font-size: 150%;
	/* this increases the font 1 and a half times its normal size */
	text-align: center;
	background-color: #b4e0e8;
}

/* Put body attributes here */

body {
	background-color: lightgray;
	color: black;
	font-family: "Times New Roman", sans-serif, serif;
}

/* attributes that apply to all images */

img {
	float: right;
}

/*paragraph attributes*/

p {
	background-color: white;
	color: #0c2e60;
}